<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration and Reservation</title>
</head>
<body>
<h1>Reservation</h1>
<form action="/register-and-reserve/submit-reservation" th:action="@{/register-and-reserve/submit-reservation}" th:object="${reservation}" method="post">
    <label for="customerName">Customer Name:</label>
    <input type="text" id="customerName" th:field="*{customerName}" required>
    <br>
    <label for="quantityOfCustomers">Quantity of Customers:</label>
    <input type="number" id="quantityOfCustomers" th:field="*{quantityOfCustomers}" required>
    <br>
    <label for="tableNumber">Table Number:</label>
    <input type="number" id="tableNumber" th:field="*{tableNumber}" required>
    <br>
    <label for="reservationDateTime">Reservation Date and Time:</label>
    <input type="datetime-local" id="reservationDateTime" th:field="*{reservationDateTime}" required>
    <br>
    <button type="submit">Reserve</button>
</form>
</body>
</html>
